@font-face {
    font-family: "JannaRegular";
    src: url("./assets/font.woff2") format("woff2"), url("./assets/font.woff") format("woff");
}

:root {
    --pico-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "JannaRegular", system-ui, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
    --pico-form-element-spacing-vertical: 0.4rem;
    --pico-spacing: 0.8rem;

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    section {
        margin-top: 0.4rem;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        margin-top: 4rem;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .text-default-color {
        color: var(--pico-primary-color);
    }

    .cursor {
        cursor: pointer;
    }

    .width-90 {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .width-50 {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .small {
        font-size: 0.875rem !important;
    }

    .logo {
        margin-bottom: 0;
        color: var(--pico-primary-background);
    }

    #button {
        display: flex;
        justify-content: start;
        padding-left: 0;
    }

    .logo:hover {
        color: var(--pico-primary-hover-background);
    }

    .margin-popup {
        margin: 1.4rem 2.4rem;
    }

    .margin-button {
        margin-top: 1rem;
    }

    .scroll-button {
        width: 1.6rem;
        height: 1.6rem;
        padding: 0;
    }

    .popup {
        text-align: center;
        width: auto;
    }

    .profile-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .fixed {
        position: fixed;
    }

    .overflow {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .margin-left {
        margin-left: 12rem;
    }

    .side-title {
        background-color: var(--pico-primary-background);
        color: white;
        border-radius: 8px;
    }

    .side-hover:hover {
        background-color: var(--pico-primary-background);
        color: white;
        border-radius: 8px;
    }
}
